.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0vmin 3vmin;
}

.board-label {
  background-color: var(--color-100);
  border-radius: 1vmin;
  width: 100%;
  margin: 2.25vmin 0vmin;
  padding: 1vmin;
  padding-top: 0.75vmin;
  text-align: center;
  font-size: 3vh;
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.player-1 {
  background-color: var(--color-400);
}

.player-2 {
  background-color: var(--color-500);
}