.info-box {
  display: flex;
  flex-direction: column;
  background-color: var(--color-100);
  padding: 4vmin;
  text-align: center;
  max-height: 100vh;
  flex-grow: 1;
  margin: 2vmin;
  margin-left: 0;
  border-radius: 2vmin;
}

@media only screen and (max-width: 775px) {
  .info-box {
    margin-left: 2vmin;
    margin-top: 0;
  }
}