html {
  --background-color: #f8f9fa;
  --foreground-color: #3c3c3c;
  --board-color: #dee2e6;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;  
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--board-color);
  margin-top: -0.375rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--foreground-color);
  min-height: calc(100vh - 4rem);
}

.board {
  display: grid;
  grid-template-columns: repeat(7, calc(90vmin/7));
  grid-template-rows: repeat(6, calc(90vmin * 6/7 / 6));
  width: 90vmin;
  height: calc(90vmin * 6/7);
  background-color: var(--board-color);
  border-radius: 1rem;
  padding: 1vmin;
}

.grid-space {
  margin: 1vmin;
  background-color: var(--background-color);
  border-radius: 50%;
  cursor: pointer;
}

@keyframes drop-in {
  0%   { transform: translateY(-80vmin) }
  50%  { transform: translateY(0) }
  60%  { transform: translateY(-6vmin) }
  75%  { transform: translateY(0) }
  90%  { transform: translateY(-2vmin) }
  100% { transform: translateY(0) }
}

.piece {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  border-radius: 50%;
  animation: drop-in 750ms ease-in;
  border: solid 0.5rem transparent;
}

.player-1 {
  background-color: #a5becc;
}

.player-2 {
  background-color: #243a73;
}

.winner {
  border: solid 0.5rem yellow;
}