html {
  --grey-100: #f8f9fa;
  --grey-200: #dee2e6;
  --grey-300: #3c3c3c;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--grey-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: var(--grey-200);
  padding: 2vmin 4vmin 0vmin;
  text-align: center;
  max-height: 100vh;
  width: 17.5vw;
  font-weight: bold;
}

.sidebar h1 {
  font-size: 3vw;
}

.sidebar h2 {
  font-size: 1.75vw;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 15vmin);
  grid-template-rows: repeat(6, 15vmin);
  width: 105vmin;
  height: 90vmin;
  background-color: var(--grey-200);
  border-radius: 3vmin;
  padding: 1vmin; 
  margin: 0vmin 5vmin;
}

.grid-space {
  margin: 1vmin;
  background-color: var(--grey-100);
  border-radius: 50%;
  cursor: pointer;
}

@keyframes drop-in {
  0%   { transform: translateY(-90vmin) }
  50%  { transform: translateY(0) }
  60%  { transform: translateY(-6vmin) }
  75%  { transform: translateY(0) }
  90%  { transform: translateY(-2vmin) }
  100% { transform: translateY(0) }
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: drop-in 750ms ease-in;
  border-radius: 50%;
}

.player-1 {
  background-color: #a5becc;
}

.player-2 {
  background-color: #243a73;
}