html {
  --background-color: #f8f9fa;
  --foreground-color: #3c3c3c;
  --board-color: #dee2e6;
  --player-1-color: #A5BECC;
  --player-2-color: #243A73;
}

body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--foreground-color);
  min-height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(6, auto);
  width: 90vmin;
  height: 67.5vmin;
  background-color: var(--board-color);
  border-radius: 1rem;
  padding: 1vmin;
}

.grid-space {
  margin: 1vmin;
  background-color: var(--background-color);
  border-radius: 50%;
  cursor: pointer;
}

.player-1 {
  background-color: var(--player-1-color);
}

.player-2 {
  background-color: var(--player-2-color);
}